*:focus {
  outline: none;
}

.App-link {
  color: #09d3ac;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Content {
  border-radius: 6px;
  border: 1px solid #d3d3d3;
  padding: 2rem 2.6rem;
}

.Control {
  margin-top: 1rem;
}

.Input-text {
  width: 100px;
  border-radius: 6px;
  border: 1px solid #d3d3d3;
  padding: 3px 5px;

}

.Mr-1 {
  margin-right: 1rem;
}

.Mt-1 {
  margin-top: 1rem;
}

.Btn {
  border-radius: 6px;
  border: 1px solid #d3d3d3;
  background: transparent;
  padding: 3px 5px;
}

.Btn:active {
  transform: translate(-1px, 1px);
}

.Hr {
  border: 1px dashed #d3d3d3;
}

.Text-red {
  color: #b94d4d;
}

.Text-green {
  color: #4db952;
}